@import "tailwindcss";

:root {
  --background: oklch(17.5% 0 0);
  --foreground: oklch(90% 0 0);
  --popup: oklch(19.5% 0 0);
  --popup-foreground: oklch(97% 0 0);
  --muted: oklch(97% 0 0 / 14%);
  --muted-foreground: oklch(70.8% 0 0);
  --accent: oklch(82.3% 0.12 346.018);
  --accent-foreground: oklch(82.3% 0.12 346.018);
  --primary: oklch(92.8% 0.006 264.531);
  --primary-foreground: oklch(13% 0.028 261.692);
  --secondary: oklch(0.313 0.088 276.9);
  --secondary-foreground: oklch(0.664 0.082 276.9);
  --destructive-foreground: oklch(64.5% 0.246 16.439);
  --destructive: oklch(81% 0.117 11.638);
  --border: oklch(97% 0 0/ 16%);
  --input: oklch(1 0 0 / 8%);
  --ring: oklch(97% 0 0 / 50%);
  --counter: oklch(0.254 0.058 277.9);
  --counter-foreground: oklch(0.568 0.113 277.3);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-popup: var(--popup);
  --color-popup-foreground: var(--popup-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-counter: var(--counter);
  --color-counter-foreground: var(--counter-foreground);

  --color-ultramarine-200: oklch(0.664 0.082 276.9);
  --color-ultramarine-300: oklch(0.576 0.106 276.9);
  --color-ultramarine-500: oklch(0.401 0.112 276.9);
}

@theme {
  --font-display: "DM Sans", sans-serif;
}

@utility shadow-popup {
  box-shadow:
    0px 0px 0px 1px rgba(255, 255, 255, 0.08),
    0px 1px 2px -1px rgba(255, 255, 255, 0.08),
    0px 2px 4px 0px rgba(255, 255, 255, 0.06);
}

@utility scrollbar-thin {
  &::-webkit-scrollbar {
    display: none;
  }
}

* {
  scrollbar-width: thin;
}
