@import "tailwindcss";
@import "./utilities.css";

:root {
  --background: #0e2031;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-source-serif);
}

@theme {
  --font-display: "Source Serif", serif;
  --color-midnight-50: oklch(0.8794 0.0362 244.87);
  --color-midnight-100: oklch(0.8205 0.0494 244.87);
  --color-midnight-200: oklch(0.7196 0.0631 244.87);
  --color-midnight-300: oklch(0.5875 0.0637 244.87);
  --color-midnight-400: oklch(0.4955 0.0587 244.87);
  --color-midnight-500: oklch(0.4199 0.0522 244.87);
  --color-midnight-600: oklch(0.3531 0.0475 244.87);
  --color-midnight-700: oklch(0.3099 0.0475 244.87);
  --color-midnight-800: oklch(0.2389 0.0403 248.37);
  --color-midnight-900: oklch(0.1563 0.0181 251.54);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif), Arial, Helvetica, sans-serif;
}
