@utility elevation-level-1 {
  box-shadow: inset 0 0 1px oklch(from var(--color-zinc-200) l c h / 0.4);
  filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.25));
}

@utility elevation-level-2 {
  box-shadow:
    inset 0.25px 0.25px 1px oklch(from var(--color-midnight-200) l c h / 0.6),
    inset 0px 0px 1px rgba(255, 255, 255, 0.5);
  filter: drop-shadow(0.5px 1px 1px rgba(0, 0, 0, 0.3));
}

@utility focus {
  outline: solid 1px
    color-mix(in lab, var(--color-zinc-200) 70%, transparent 30%);
  box-shadow: 0 0 2px var(--color-zinc-200);
}

@utility focus-none {
  outline: none;
  box-shadow: none;
}
